In [15]:
import pandas as pd

# Charger les datasets
df1 = pd.read_csv('Books.csv')
print(df1.head())

         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

C:\Users\joeto\AppData\Local\Temp\ipykernel_23524\3255548433.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('Books.csv')

In [13]:
df2 = pd.read_csv('data.csv')
print(df2.head())

          isbn13      isbn10           title subtitle  \
0  9780002005883  0002005883          Gilead      NaN
1  9780002261982  0002261987    Spider's Web  A Novel
2  9780006163831  0006163831    The One Tree      NaN
3  9780006178736  0006178731  Rage of angels      NaN
4  9780006280897  0006280897  The Four Loves      NaN

                           authors                     categories  \
0               Marilynne Robinson                        Fiction
1  Charles Osborne;Agatha Christie  Detective and mystery stories
2             Stephen R. Donaldson               American fiction
3                   Sidney Sheldon                        Fiction
4              Clive Staples Lewis                 Christian life

                                           thumbnail  \
0  http://books.google.com/books/content?id=KQZCP...
1  http://books.google.com/books/content?id=gA5GP...
2  http://books.google.com/books/content?id=OmQaw...
3  http://books.google.com/books/content?id=FKo2T...
4  http://books.google.com/books/content?id=XhQ5X...

                                         description  published_year  \
0  A NOVEL THAT READERS and critics have been eag...          2004.0
1  A new 'Christie for Christmas' -- a full-lengt...          2000.0
2  Volume Two of Stephen Donaldson's acclaimed se...          1982.0
3  A memorable, mesmerizing heroine Jennifer -- b...          1993.0
4  Lewis' work on the nature of love divides love...          2002.0

   average_rating  num_pages  ratings_count
0            3.85      247.0          361.0
1            3.83      241.0         5164.0
2            3.97      479.0          172.0
3            3.93      512.0        29532.0
4            4.15      170.0        33684.0

In [19]:
merged_df = pd.merge(df1, df2, left_on='Book-Title', right_on='title', how='inner')

print(merged_df.head())

         ISBN              Book-Title       Book-Author Year-Of-Publication  \
0  0399135782  The Kitchen God's Wife           Amy Tan                1991
1  0440234743           The Testament      John Grisham                1999
2  0345402871                Airframe  Michael Crichton                1997
3  055321215X     Pride and Prejudice       Jane Austen                1983
4  055321215X     Pride and Prejudice       Jane Austen                1983

          Publisher                                        Image-URL-S  \
0  Putnam Pub Group  http://images.amazon.com/images/P/0399135782.0...
1              Dell  http://images.amazon.com/images/P/0440234743.0...
2  Ballantine Books  http://images.amazon.com/images/P/0345402871.0...
3            Bantam  http://images.amazon.com/images/P/055321215X.0...
4            Bantam  http://images.amazon.com/images/P/055321215X.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0399135782.0...
1  http://images.amazon.com/images/P/0440234743.0...
2  http://images.amazon.com/images/P/0345402871.0...
3  http://images.amazon.com/images/P/055321215X.0...
4  http://images.amazon.com/images/P/055321215X.0...

                                         Image-URL-L         isbn13  \
0  http://images.amazon.com/images/P/0399135782.0...  9780143038108
1  http://images.amazon.com/images/P/0440234743.0...  9780440234746
2  http://images.amazon.com/images/P/0345402871.0...  9780099556312
3  http://images.amazon.com/images/P/055321215X.0...  9780140620221
4  http://images.amazon.com/images/P/055321215X.0...  9780141439518

       isbn10                   title subtitle           authors  \
0  0143038109  The Kitchen God's Wife      NaN           Amy Tan
1  0440234743           The Testament      NaN      John Grisham
2  0099556316                Airframe      NaN  Michael Crichton
3  0140620222     Pride and Prejudice      NaN       Jane Austen
4  0141439513     Pride and Prejudice      NaN       Jane Austen

          categories                                          thumbnail  \
0            Fiction  http://books.google.com/books/content?id=n0CzD...
1            Fiction  http://books.google.com/books/content?id=n5F5Q...
2  Adventure stories  http://books.google.com/books/content?id=drRsu...
3          Courtship  http://books.google.com/books/content?id=xdySu...
4            Fiction  http://books.google.com/books/content?id=obMP1...

                                         description  published_year  \
0  Winnie Louie, an aging Chinese woman convinced...          2006.0
1  A suicidal billionaire, a burnt-out Washington...          2000.0
2  The twin jet plane en route to Denver from Hon...          1997.0
3                           First published in 1813.          1994.0
4  In early nineteenth-century England, a spirite...          2003.0

   average_rating  num_pages  ratings_count
0            4.00      416.0        64285.0
1            3.85      535.0        85975.0
2            3.70      431.0        65778.0
3            4.25      299.0         1852.0
4            4.25      480.0        11552.0

In [27]:
# Supprimer les colonnes non désirées
colonnes_a_supprimer = ['average_rating' , 'num_pages','ratings_count','thumbnail' , 'Image-URL-L', 'Image-URL-M','Image-URL-S','subtitle','title','authors','isbn13','isbn10','published_year']  # Remplacez par les noms des colonnes que vous voulez supprimer
df_final = merged_df.drop(columns=colonnes_a_supprimer)

# Afficher les premières lignes pour vérifier la suppression
print(df_final.head())

         ISBN              Book-Title       Book-Author Year-Of-Publication  \
0  0399135782  The Kitchen God's Wife           Amy Tan                1991
1  0440234743           The Testament      John Grisham                1999
2  0345402871                Airframe  Michael Crichton                1997
3  055321215X     Pride and Prejudice       Jane Austen                1983
4  055321215X     Pride and Prejudice       Jane Austen                1983

          Publisher         categories  \
0  Putnam Pub Group            Fiction
1              Dell            Fiction
2  Ballantine Books  Adventure stories
3            Bantam          Courtship
4            Bantam            Fiction

                                         description
0  Winnie Louie, an aging Chinese woman convinced...
1  A suicidal billionaire, a burnt-out Washington...
2  The twin jet plane en route to Denver from Hon...
3                           First published in 1813.
4  In early nineteenth-century England, a spirite...

In [29]:
# Sauvegarder le DataFrame en fichier CSV
df_final.to_csv('books_dataset.csv', index=False)

In [30]:

# Charger les datasets
books = pd.read_csv('books_dataset.csv')  # Remplacez par le chemin de votre fichier
ratings = pd.read_csv('Ratings.csv')  # Remplacez par le chemin de votre fichier

# Fusionner les datasets sur 'book_id'
merged_df = pd.merge(books, ratings, on='ISBN', how='inner')

# Obtenir le nombre de lignes dans le DataFrame fusionné
nombre_de_lignes = merged_df.shape[0]

# Afficher le nombre de lignes
print(f"Le DataFrame fusionné contient {nombre_de_lignes} lignes.")

Le DataFrame fusionné contient 101459 lignes.